<%= form_with model: model do |f| %>
  <% if config_error = f.object.errors[:config].presence %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-5" role="alert">
      <p class="font-bold">Failed to generate Talos configuration</p>
      <%= simple_format config_error.first %>
    </div>
  <% end %>

  <%= f.text_field :name, placeholder: "staging" %>
  <%# Hiding install_image since it doesn't actually do anything if maintenance mode is already %>
  <%# installed via a disk image (which we do when bootstrapping). Can change it back to text_field %>
  <%# when/if Talos starts making proper use of the configuration. %>
  <%= f.hidden_field :install_image, readonly: true, hint: "Gets passed into the --imagedisk argument for talosctl gen config." %>
  <%= f.text_field :kubernetes_version, placeholder: "1.26.3", hint: "Gets passed into the --kubernetes-version argument for talosctl gen config." %>

  <%= f.label :kubespan, class: "mb-5 block" do %>
    <h3 class="font-bold mb-1 text-gray-900">Enable Kubespan</h3>
    <%= f.check_box :kubespan, class: "mr-1" %>
    <span class="text-sm text-gray-400">Enables the --with-kubespan argument during config generation</span>
  <% end %>

  <%= f.text_area :patch, required: false, class: "font-mono w-full text-sm", rows: 20, placeholder: "machine: # ...&#10;cluster: # ...".html_safe, hint: "Gets passed into the --config-patch argument for talosctl gen config." %>
  <%= f.text_area :patch_control_plane, required: false, class: "font-mono w-full text-sm", rows: 5, placeholder: "machine: # ...&#10;cluster: # ...".html_safe, hint: "Gets passed into the --config-patch-control-plane argument for talosctl gen config." %>
  <%= f.text_area :patch_worker, required: false, class: "font-mono w-full text-sm", rows: 5, placeholder: "machine: # ...&#10;cluster: # ...".html_safe, hint: "Gets passed into the --config-patch-worker argument for talosctl gen config." %>
  <%= f.submit "Save" %>
<% end %>
