<%= turbo_stream_from "servers" %>

<%= turbo_frame_tag "servers-actions-dialog" %>

<div class="flex justify-between">
  <h1 class="text-4xl mb-10">Servers</h1>
  <div>
    <%= button_to icon_reload, sync_servers_path, method: :post, class: "disabled:opacity-20 disabled:cursor-default", title: "Sync with Hetzner" %>

    <%# onboarding box for the sync button in case there are API keys added but no servers %>
    <% if ApiKey.any? && Server.none? %>
      <div class="relative">
        <div class="absolute w-[200px] top-[30px] -left-[130px] rounded-lg shadow-md p-3 text-sm z-10 bg-blue-50 text-blue-800 border border-blue-200">
          <p class="mb-2">Hit this button to sync servers from Hetzner using the API keys you've added in Settings.</p>
          <p class="mb-2">Hit it again whenever you add or remove servers inside Hetzner to keep your servers up to date.</p>
          <%= icon_onboarding_arrow "absolute h-[60px] left-[40px] -top-[60px] transform origin-center -rotate-[20deg]" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<table id="server-table" class="mb-5">
  <thead class="text-lg text-left">
    <th class="">Name</th>
    <th class="">IP</th>
    <th class="">Model</th>
    <th class="">Cluster</th>
    <th class=""></th>
    <th class="">Config</th>
    <th class="w-4"></th>
  </thead>
  <tbody>
    <% no_clusters = Cluster.none? %>
    <% @servers.each do |server| %>
      <tr class="h-11 group hover:bg-gray-50">
        <td class="py-1">
          <%= turbo_frame_tag server, :name do %>
            <%= render "server_name", server: %>
            <%= link_to icon_edit, edit_server_path(server), class: "ml-2 opacity-0 group-hover:opacity-100 text-gray-600 hover:text-gray-900" %>
          <% end %>
        </td>
        <td>
          <span class="relative group/ip">
            <span data-tooltip class="absolute whitespace-nowrap w-[100px] text-center bg-gray-800 rounded text-white text-sm p-1 -top-[35px] opacity-0 invisible group-hover/ip:opacity-100 group-hover/ip:visible transition-opacity duration-500 ease-in-out">Click to copy</span>
            <span
              class="cursor-pointer hover:border-b hover:border-gray-400"
              onclick="
                const tooltip = this.parentElement.querySelector('[data-tooltip]')
                navigator.clipboard.writeText('<%= server.ip %>').then(() => {
                  tooltip.innerText = 'Copied!'
                  setTimeout(() => { tooltip.innerText = 'Click to copy' }, 2000)
                })
              "
            >
              <%= server.ip %>
            </span>
          </span>
        </td>
        <td><%= pretty_product(server.product) %></td>
        <td>
          <%= turbo_frame_tag server, :cluster do %>
            <%= server.cluster&.name || tag.span("none", class: "text-gray-400") %>
            <%= link_to icon_edit, edit_server_path(server), class: "ml-2 opacity-0 group-hover:opacity-100 text-gray-600 hover:text-gray-900" unless no_clusters %>
          <% end %>
        </td>
        <%= render "server_status", server: %>
        <td>
          <% if server.machine_config %>
            <div class="flex items-center gap-2">
              <p><%= server.config.name %></p>
              <%=
                button_to(
                  icon_trash("w-4"),
                  server.machine_config,
                  method: :delete,
                  form_class: "inline",
                  class: "opacity-0 group-hover:opacity-100",
                )
              %>
              <%= link_to icon_download, server.machine_config, class: "h-4 block opacity-0 group-hover:opacity-100" %>
            </div>
          <% else %>
            <%=
              link_to(
                "Configure",
                new_machine_config_path(server_id: server.id),
                class: "rounded text-sm p-2 bg-mnd-red hover:bg-mnd-red-dark disabled:cursor-default disabled:bg-mnd-red-light text-white group-hover:opacity-100",
              )
            %>
          <% end %>
        </td>
        <td class="relative">
          <% popover_id = "server-#{server.id}-popover" %>
          <button popovertarget=<%= popover_id %> style="anchor-name: --<%= popover_id %>">
            <%= icon_ellipsis_vertical %>
          </button>
          <div popover id="<%= popover_id %>"
            class="rounded-lg bg-white absolute w-[242px] m-0 -ml-[247px] py-3 shadow-[0_0_10px_rgba(0,0,0,0.2)]"
            style="position-anchor: --<%= popover_id %>; top: anchor(top); left: anchor(left)"
          >
            <%= render "server_menu", server: %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>