<%= turbo_stream_from "servers" %>

<div class="flex justify-between">
  <h1 class="text-4xl mb-10">Servers</h1>
  <%= button_to icon_reload, sync_servers_path, method: :post, class: "disabled:opacity-20 disabled:cursor-default", title: "Sync with Hetzner" %>
</div>

<%=
  tag.div(
    id: "server-actions-backdrop",
    class: "bg-gray-200 hidden opacity-0 hidden absolute fixed top-0 left-0 w-full h-full pointer-events-auto",
    onclick: <<~JS
      document.querySelectorAll('[data-server-actions]').forEach(el => el.classList.add('hidden'))
      document.getElementById('server-table').classList.remove('pointer-events-none')
      document.getElementById('server-table').classList.add('pointer-events-auto')
      this.classList.add('hidden')
    JS
  )
%>

<table id="server-table" class="mb-5">
  <thead class="text-lg text-left">
    <th class="">Name</th>
    <th class="">IP</th>
    <th class="">Model</th>
    <th class="">Cluster</th>
    <th class=""></th>
    <th class="">Config</th>
    <th class="w-4"></th>
  </thead>
  <tbody>
    <% @servers.each_with_index do |server| %>
      <tr class="h-11 group hover:bg-gray-50">
        <td class="py-1">
          <%= turbo_frame_tag server, :name do %>
            <%= render "server_name", server: %>
            <%= link_to icon_edit, edit_server_path(server), class: "ml-2 opacity-0 group-hover:opacity-100 text-gray-600 hover:text-gray-900" %>
          <% end %>
        </td>
        <td><%= server.ip %></td>
        <td><%= server.product.split("-").first %></td>
        <td>
          <%= turbo_frame_tag server, :cluster do %>
            <%= server.cluster&.name || tag.span("none", class: "text-gray-400") %>
            <%= link_to icon_edit, edit_server_path(server), class: "ml-2 opacity-0 group-hover:opacity-100 text-gray-600 hover:text-gray-900" %>
          <% end %>
        </td>
        <%= render "server_status", server: %>
        <td>
          <% if server.machine_config %>
            <div class="flex items-center gap-2">
              <p><%= server.config.name %></p>
              <%=
                button_to(
                  icon_trash("w-4"),
                  server.machine_config,
                  method: :delete,
                  form_class: "inline",
                  class: "opacity-0 group-hover:opacity-100",
                )
              %>
              <%= link_to icon_download, server.machine_config, class: "h-4 block opacity-0 group-hover:opacity-100" %>
            </div>
          <% else %>
            <%=
              link_to(
                "Configure",
                new_machine_config_path(server_id: server.id),
                class: "rounded text-sm p-2 bg-mnd-red hover:bg-mnd-red-dark disabled:cursor-default disabled:bg-mnd-red-light text-white group-hover:opacity-100",
              )
            %>
          <% end %>
        </td>
        <td class="relative">
          <%=
            link_to(
              icon_ellipsis_vertical,
              "#",
              onclick: <<~JS,
                // Hide and return if this popup menu is already visible
                if (!this.nextElementSibling.classList.contains('hidden')) {
                  document.getElementById('server-actions-backdrop').click()
                  return false
                }

                // Hide all other popup menus
                document.querySelectorAll('[data-server-actions]').forEach(el => el.classList.add('hidden'))

                // Disable click events on other elements
                document.getElementById('server-table').classList.remove('pointer-events-auto')
                document.getElementById('server-table').classList.add('pointer-events-none')

                // Show this popup menu
                this.nextElementSibling.classList.remove('hidden')

                // Show the backdrop which will close the popup menu when clicked
                document.getElementById('server-actions-backdrop').classList.remove('hidden')

                return false
              JS
            )
          %>
          <div style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)" data-server-actions class="rounded-lg bg-white w-[230px] py-3 right-[1.5rem] top-0 absolute hidden pointer-events-auto">
            <%= render "server_menu", server: %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>