<%= turbo_frame_tag "servers-actions-dialog" do %>
  <dialog id="server-actions-dialog" class="backdrop:backdrop-blur-sm backdrop:bg-gray-100 backdrop:bg-opacity-30 p-6 rounded-lg shadow-lg">
    <form method="dialog" class="flex mb-4">
      <h2 class="text-2xl mr-5">Bootstrap server: <%= @server.name %></h2>
      <button class="ml-auto text-gray-500 hover:text-gray-700"><%= icon_close %></button>
    </form>
    <%= form_with url: bootstrap_server_path, data: { turbo_frame: "_top" } do |f| %>
      <%=
        f.select(
          :talos_version,
          sorted_talos_versions,
          { include_blank: false, selected: TalosImageFactorySetting.singleton.version },
          class: "w-full mb-4",
          required: false,
        )
      %>
      <%=
        f.select(
          :talos_image_factory_schematic_id,
          TalosImageFactorySchematic.order(:name).pluck(:name, :id),
          { include_blank: "none", selected: TalosImageFactorySetting.singleton.schematic_id },
          class: "w-full mb-4",
          label: "Talos Image Factory Schematic",
          required: false,
          hint: "Use the #{link_to('Talos Schematics', talos_image_factory_schematics_path, class: 'text-blue-600 hover:underline', data: { turbo_frame: '_top'})} page to create custom schematics.",
        )
      %>
      <%= f.submit "Bootstrap!" %>
    <% end %>
  </dialog>

  <script>
    // NOTE: We have to explicitly run showModal as just adding the open attribute won't enable the backdrop element
    document.getElementById("server-actions-dialog").showModal()
  </script>
<% end %>
