<h1 class="text-4xl mb-10">Settings</h1>

<div class="flex mb-10 items-center justify-between">
  <h2 class="text-2xl mb-5">API Keys</h2>
  <%= link_to "New API Key", new_api_key_path, class: "text-white rounded bg-mnd-red hover:bg-mnd-red-dark font-semibold p-3" %>
</div>

<% if @api_keys.any? %>
  <table id="server-table" class="mb-5">
    <thead class="text-lg text-left">
      <th class="">Provider</th>
      <th class="">Name</th>
      <th class="">Actions</th>
    </thead>
    <tbody>
      <% @api_keys.each do |api_key| %>
        <tr class="h-11 group hover:bg-gray-50">
          <td class="py-1">
            <%= pretty_api_key_provider(api_key.provider) %>
          </td>
          <td>
            <%= api_key.name %>
          </td>
          <td>
            <div class="flex gap-3">
            <%= link_to "Edit", edit_api_key_path(api_key), class: "text-white text-sm rounded bg-mnd-red hover:bg-mnd-red-dark font-semibold px-3 py-2" %>
            <%= button_to icon_trash("w-5"), api_key_path(api_key), method: :delete, class: "text-white text-sm rounded bg-mnd-red hover:bg-mnd-red-dark font-semibold px-3 py-2", data: { turbo_confirm: "Deleting the #{api_key.provider.titleize} API key #{api_key.name} will also delete its associated servers from the servers list. Proceed?" } %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
