<%= turbo_frame_tag talos_image_factory_setting do %>
  <%= form_with model: talos_image_factory_setting do |f| %>
    <%= f.select :version, sorted_talos_versions, { include_blank: false }, label: "Default Talos Version", required: false %>
    <%=
      f.select(
        :talos_image_factory_schematic_id,
        TalosImageFactorySchematic.order(:name).pluck(:name, :id),
        { include_blank: "none" },
        label: "Default Talos Schematic",
        required: false,
        hint: "Use the #{link_to('Talos Schematics', talos_image_factory_schematics_path, class: 'text-blue-600 hover:underline')} page to create custom schematics.",
      )
    %>
    <%= f.submit "Update Default Bootstrap settings", auto_width: true %>
  <% end %>

  <%# Sloppy copy paste from the application/flash partial to work around Turbo's inability %>
  <%# to break out of a frame on redirect. On a successful form submission we set flash.now[:notice] %>
  <%# to ensure a toast is presented to the user. %>
  <dialog class="bottom-0 w-full bg-transparent" <%= "open" if flash[:talos_image_factory_update_notice] %>>
    <div
      class="flex bg-white shadow rounded opacity-0 -bottom-20 left-8 fixed p-3 items-center justify-between"
      style="animation: flash 10s; animation-iteration-count: 1;"
    >
      <div class="bg-green-100 rounded-lg text-green-600 p-2 ml-2 mr-4"><%= icon_checkmark %></div>
      <p class="mr-3 text-gray-800"><%= flash[:talos_image_factory_update_notice] %></p>
      <form method="dialog" class="flex items-center">
        <button type="submit" class="text-gray-500 hover:text-gray-800"><%= icon_cross %></button>
      </form>
    </div>
  </dialog>
<% end %>
