<style>
  @keyframes flash {
    0% { opacity: 0; bottom: -30px }
    5% { opacity: 1; bottom: 30px }
    95% { opacity: 1; bottom: 30px }
    100% { opacity: 0; bottom: -30px }
  }
</style>

<dialog class="bottom-0 w-full bg-transparent" <%= "open" if flash[:notice] %>>
  <div
    class="flex bg-white shadow rounded opacity-0 -bottom-20 left-8 fixed p-3 items-center justify-between"
    style="animation: flash 10s; animation-iteration-count: 1;"
  >
    <div class="bg-green-100 rounded-lg text-green-600 p-2 ml-2 mr-4"><%= icon_checkmark %></div>
    <p class="mr-3 text-gray-800"><%= flash[:notice] %></p>
    <form method="dialog" class="flex items-center">
      <button type="submit" class="text-gray-500 hover:text-gray-800"><%= icon_cross %></button>
    </form>
  </div>
</dialog>

<dialog class="bottom-0 w-full bg-transparent" <%= "open" if flash[:alert] %>>
  <div
    class="flex bg-white shadow rounded opacity-0 -bottom-20 left-8 fixed p-3 items-center justify-between"
    style="animation: flash 10s; animation-iteration-count: 1;"
  >
    <div class="bg-red-100 rounded-lg text-red-600 p-2 ml-2 mr-4"><%= icon_alert %></div>
    <p class="mr-3 text-gray-800"><%= flash[:alert] %></p>
    <form method="dialog" class="flex items-center">
      <button type="submit" class="text-gray-500 hover:text-gray-800"><%= icon_cross %></button>
    </form>
  </div>
</dialog>
