<!DOCTYPE html>
<html hidden>
  <head>
    <title>DevopsTalosManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.svg">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script type="module">
      import { setup } from 'https://cdn.skypack.dev/twind/shim'

      setup({
        mode: 'silent', // change to 'warn' for non matching class warnings during development
        theme: {
          extend: {
            colors: {
              'mnd-red': '#ff4473',
              'mnd-red-dark': '#ea065a',
              'mnd-red-light': '#fd9cb9',
              'mnd-white-dark': '#f7fafd',
              'mnd-purple-dark': '#181646',
              'mnd-gray': '#e8e8ed',
            }
          },
        },
      })
    </script>
  </head>

  <body class="bg-mnd-white-dark">
    <nav class="bg-white shadow-md flex px-3 items-center">
      <img src="/favicon.svg" class="h-12 py-2 mr-3">
      <%= link_to "Servers", hetzner_servers_path, class: "text-l mr-3 #{'underline underline-offset-2' if params[:controller] == 'hetzner_servers'}" %>
      <%= link_to "Configs", configs_path, class: "text-l mr-3 #{'underline underline-offset-2' if params[:controller] == 'configs'}" %>
      <%= link_to "Secrets", secrets_path, class: "text-l mr-3 #{'underline underline-offset-2' if params[:controller] == 'secrets'}" %>
    </nav>
    <div class="min-h-screen min-w-screen flex flex-col items-center mt-20 mb-20">
      <div class="bg-white py-10 px-5 sm:px-10 h-fit w-[1080px] max-w-[90%] flex flex-col justify-center border rounded shadow-md sm:max-w-full">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
