<!DOCTYPE html>
<html>
  <head>
    <title>Hetzner Talos Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.svg">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>

    <link rel="icon" type="image/svg+xml" href="<%= asset_path("logo.svg") %>">

    <script src="https://cdn.tailwindcss.com/3.4.4"></script>
    <script>
      tailwind.config = {
        mode: 'silent', // change to 'warn' for non matching class warnings during development
        theme: {
          extend: {
            colors: {
              'mnd-red': '#ff4473',
              'mnd-red-dark': '#ea065a',
              'mnd-red-light': '#fd9cb9',
              'mnd-white-dark': '#f7fafd',
              'mnd-purple-dark': '#181646',
              'mnd-gray': '#e8e8ed',
            },
          },
        },
      }
    </script>

    <script type="module">
      // https://caniuse.com/css-anchor-positioning
      if (!("anchorName" in document.documentElement.style)) {
        import("https://unpkg.com/@oddbird/css-anchor-positioning")
      }
    </script>
  </head>

  <body class="bg-mnd-white-dark">
    <%= render "flash" %>
    <nav class="bg-white shadow-md flex px-3">
      <%# left side of nav %>
      <div class="flex gap-5 items-center">
        <%= image_tag "logo.svg", alt: "Logo", class: "h-12 py-2" %>
        <%= link_to "Servers", servers_path, class: "text-l hover:underline underline-offset-2 #{'underline' if params[:controller] == 'servers'}" %>
        <%= link_to "Clusters", clusters_path, class: "text-l hover:underline underline-offset-2 #{'underline' if params[:controller] == 'clusters'}" %>
        <%= link_to "Configs", configs_path, class: "text-l hover:underline underline-offset-2 #{'underline' if params[:controller] == 'configs'}" %>
      </div>
      <%# right side of nav %>
      <div class="ml-auto flex items-center">
        <%= link_to "Settings", settings_path, class: "text-l hover:underline underline-offset-2 mr-5 #{'underline' if params[:controller] == 'settings'}" %>

        <%# onboarding arrow + info box pointing to the settings link in case no api keys have been added %>
        <% if params[:controller] != "settings" && ApiKey.none? %>
          <div class="relative">
            <div class="absolute w-[200px] top-[42px] -left-[210px] rounded-lg shadow-md p-3 text-sm z-10 bg-blue-50 text-blue-800 border border-blue-200">
              <p class="mb-2">Head to Settings to add your first API key to get started.</p>
              <%= icon_onboarding_arrow "absolute h-[60px] left-[40px] -top-[60px] transform origin-center -rotate-[20deg]" %>
            </div>
          </div>
        <% end %>
      </div>
    </nav>
    <div class="min-h-screen min-w-screen flex flex-col items-center mt-20 mb-20">
      <div class="bg-white py-10 px-5 sm:px-10 h-fit w-[1080px] max-w-[90%] flex flex-col justify-center border rounded shadow-md sm:max-w-full">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
